In [2]:
import pandas as pd

## Boston Housing Dataset

* **CRIM** - per capita crime rate by town
* **ZN** - proportion of residential land zoned for lots over 25,000 sq.ft.
* **INDUS** - proportion of non-retail business acres per town.
* **CHAS** - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
* **NOX** - nitric oxides concentration (parts per 10 million)
* **RM** - average number of rooms per dwelling
* **AGE** - proportion of owner-occupied units built prior to 1940
* **DIS** - weighted distances to five Boston employment centres
* **RAD** - index of accessibility to radial highways
* **TAX** - full-value property-tax rate per \$10,000
* **PTRATIO** - pupil-teacher ratio by town
* **B** - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
* **LSTAT** - % lower status of the population
* **AREA** - Boston area (n: North, s:South, e:Est, o:Ovest)
* **MEDV** - Median value of owner-occupied homes in \$1000's

In [22]:
housing = pd.read_csv('../samples/boston.csv')
housing.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,area,medv
0,0.00632,18.0,2.31,0,538.0,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,n,24.0
1,0.02731,0.0,7.07,0,469.0,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,n,21.6
2,0.02729,0.0,7.07,0,469.0,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,s,34.7
3,0.03237,0.0,2.18,0,458.0,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,s,33.4
4,0.06905,0.0,2.18,0,458.0,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,o,36.2

## Find Missing Values

In [12]:
#housing.info()
housing.isnull().sum()

Unnamed: 0    0
crim          0
zn            0
indus         0
chas          0
nox           0
rm            0
age           8
dis           7
rad           0
tax           0
ptratio       0
black         0
lstat         0
area          3
medv          0
dtype: int64

### Use mean for AGE and DIS and most frequent for AREA

In [16]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

# Create ColumnTransformer
ct = ColumnTransformer(transformers)

In [17]:
# Define transformer list
transformers = [
    ['im_age', SimpleImputer(),['age','dis']],
    ['im_emb', SimpleImputer(strategy='most_frequent'),['area']]
]

In [23]:
# Apply transformation

ct.fit(housing)

housing[['age','dis','area']] = ct.transform(housing)

housing.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,area,medv
0,0.00632,18.0,2.31,0,538.0,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,n,24.0
1,0.02731,0.0,7.07,0,469.0,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,n,21.6
2,0.02729,0.0,7.07,0,469.0,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,s,34.7
3,0.03237,0.0,2.18,0,458.0,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,s,33.4
4,0.06905,0.0,2.18,0,458.0,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,o,36.2

In [21]:
# Check 
housing.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
area       0
medv       0
dtype: int64

## Categorical Data

### Use one-hot encoder to area

In [25]:
housing.area.value_counts()

n    190
s    131
e     99
o     86
Name: area, dtype: int64

In [26]:
#  One hot encoded -> add one column for each uniqie values.
for j in list(housing.area.unique()):
  housing['is_{}'.format(j)] = (housing.area == j)*1

housing.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,area,medv,is_n,is_s,is_o,is_e
0,0.00632,18.0,2.31,0,538.0,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,n,24.0,1,0,0,0
1,0.02731,0.0,7.07,0,469.0,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,n,21.6,1,0,0,0
2,0.02729,0.0,7.07,0,469.0,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,s,34.7,0,1,0,0
3,0.03237,0.0,2.18,0,458.0,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,s,33.4,0,1,0,0
4,0.06905,0.0,2.18,0,458.0,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,o,36.2,0,0,1,0

In [27]:
#  Drop area column
housing.drop('area', axis=1, inplace=True)
housing.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv,is_n,is_s,is_o,is_e
0,0.00632,18.0,2.31,0,538.0,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,1,0,0,0
1,0.02731,0.0,7.07,0,469.0,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,1,0,0,0
2,0.02729,0.0,7.07,0,469.0,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,0,1,0,0
3,0.03237,0.0,2.18,0,458.0,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,0,1,0,0
4,0.06905,0.0,2.18,0,458.0,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,0,0,1,0

## Scaling

In [28]:
# Check the valus
housing.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv,is_n,is_s,is_o,is_e
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.00000,506.000000
mean,4.673727,11.363636,11.136779,0.069170,465.069952,6.284634,68.619277,3.798712,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806,0.375494,0.258893,0.16996,0.195652
std,25.223207,23.322453,6.860353,0.253994,222.311286,0.702617,27.897045,2.092192,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104,0.484729,0.438460,0.37597,0.397094
min,0.006320,0.000000,0.460000,0.000000,0.400000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000,0.000000,0.000000,0.00000,0.000000
25%,0.082045,0.000000,5.190000,0.000000,429.000000,5.885500,45.450000,2.104425,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000,0.000000,0.000000,0.00000,0.000000
50%,0.256510,0.000000,9.690000,0.000000,504.000000,6.208500,76.800000,3.275900,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000,0.000000,0.000000,0.00000,0.000000
75%,3.689387,12.500000,18.100000,0.000000,605.000000,6.623500,93.900000,5.118000,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000,1.000000,1.000000,0.00000,0.000000
max,537.000000,100.000000,27.740000,1.000000,871.000000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000,1.000000,1.000000,1.00000,1.000000

### Apply Min-Max Normalization to crim, nox, tax and black

In [31]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))

housing[['crim','nox','tax','black']]=scaler.fit_transform(housing[['crim','nox','tax','black']])

housing.describe()

/Users/massimo/anaconda2/envs/Python3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv,is_n,is_s,is_o,is_e
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.00000,506.000000
mean,0.008692,11.363636,11.136779,0.069170,0.533735,6.284634,68.619277,3.798712,9.549407,0.422208,18.455534,0.898568,12.653063,22.532806,0.375494,0.258893,0.16996,0.195652
std,0.046971,23.322453,6.860353,0.253994,0.255354,0.702617,27.897045,2.092192,8.707259,0.321636,2.164946,0.230205,7.141062,9.197104,0.484729,0.438460,0.37597,0.397094
min,0.000000,0.000000,0.460000,0.000000,0.000000,3.561000,2.900000,1.129600,1.000000,0.000000,12.600000,0.000000,1.730000,5.000000,0.000000,0.000000,0.00000,0.000000
25%,0.000141,0.000000,5.190000,0.000000,0.492304,5.885500,45.450000,2.104425,4.000000,0.175573,17.400000,0.945730,6.950000,17.025000,0.000000,0.000000,0.00000,0.000000
50%,0.000466,0.000000,9.690000,0.000000,0.578452,6.208500,76.800000,3.275900,5.000000,0.272901,19.050000,0.986232,11.360000,21.200000,0.000000,0.000000,0.00000,0.000000
75%,0.006859,12.500000,18.100000,0.000000,0.694464,6.623500,93.900000,5.118000,24.000000,0.914122,20.200000,0.998298,16.955000,25.000000,1.000000,1.000000,0.00000,0.000000
max,1.000000,100.000000,27.740000,1.000000,1.000000,8.780000,100.000000,12.126500,24.000000,1.000000,22.000000,1.000000,37.970000,50.000000,1.000000,1.000000,1.00000,1.000000

### Apply Standardization to zn, indus and dis

In [33]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

housing[['zn','indus','dis']]=scaler.fit_transform(housing[['zn','indus','dis']])

housing.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv,is_n,is_s,is_o,is_e
count,506.000000,5.060000e+02,5.060000e+02,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.00000,506.000000
mean,0.008692,-7.459997e-17,8.425408e-17,0.069170,0.533735,6.284634,68.619277,0.000000,9.549407,0.422208,18.455534,0.898568,12.653063,22.532806,0.375494,0.258893,0.16996,0.195652
std,0.046971,1.000990e+00,1.000990e+00,0.253994,0.255354,0.702617,27.897045,1.000990,8.707259,0.321636,2.164946,0.230205,7.141062,9.197104,0.484729,0.438460,0.37597,0.397094
min,0.000000,-4.877224e-01,-1.557842e+00,0.000000,0.000000,3.561000,2.900000,-1.277011,1.000000,0.000000,12.600000,0.000000,1.730000,5.000000,0.000000,0.000000,0.00000,0.000000
25%,0.000141,-4.877224e-01,-8.676906e-01,0.000000,0.492304,5.885500,45.450000,-0.810615,4.000000,0.175573,17.400000,0.945730,6.950000,17.025000,0.000000,0.000000,0.00000,0.000000
50%,0.000466,-4.877224e-01,-2.110985e-01,0.000000,0.578452,6.208500,76.800000,-0.250134,5.000000,0.272901,19.050000,0.986232,11.360000,21.200000,0.000000,0.000000,0.00000,0.000000
75%,0.006859,4.877224e-02,1.015999e+00,0.000000,0.694464,6.623500,93.900000,0.631201,24.000000,0.914122,20.200000,0.998298,16.955000,25.000000,1.000000,1.000000,0.00000,0.000000
max,1.000000,3.804234e+00,2.422565e+00,1.000000,1.000000,8.780000,100.000000,3.984351,24.000000,1.000000,22.000000,1.000000,37.970000,50.000000,1.000000,1.000000,1.00000,1.000000